<igx-grid [data]="autoUsersPeopleWithCars" primaryKey="id" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column header="id" field="id" dataType="string" [sortable]="true" title="id"></igx-column>
  <igx-column header="title" field="title" dataType="string" [sortable]="true" title="title"></igx-column>
  <igx-column header="first_name" field="first_name" dataType="string" [sortable]="true" title="first_name"></igx-column>
  <igx-column header="last_name" field="last_name" dataType="string" [sortable]="true" title="last_name"></igx-column>
  <igx-column header="email" field="email" dataType="string" [sortable]="true" title="email"></igx-column>
  <igx-column header="gender" field="gender" dataType="string" [sortable]="true" title="gender"></igx-column>
  <igx-column header="job_title" field="job_title" dataType="string" [sortable]="true" title="job_title"></igx-column>
  <igx-column header="skill" field="skill" dataType="string" [sortable]="true" title="skill"></igx-column>
  <igx-column header="company_name" field="company_name" dataType="string" [sortable]="true" title="company_name"></igx-column>
  <igx-column header="username" field="username" dataType="string" [sortable]="true" title="username"></igx-column>
  <igx-column header="salary" field="salary" dataType="number" [sortable]="true" title="salary"></igx-column>
  <igx-column header="birth_date" field="birth_date" dataType="string" [sortable]="true" title="birth_date"></igx-column>
  <igx-column header="ip_address" field="ip_address" dataType="string" [sortable]="true" title="ip_address"></igx-column>
  <igx-column header="country" field="country" dataType="string" [sortable]="true" title="country"></igx-column>
  <igx-column header="city" field="city" dataType="string" [sortable]="true" title="city"></igx-column>
  <igx-column header="car_make" field="car_make" dataType="string" [sortable]="true" title="car_make"></igx-column>
  <igx-column header="car_model_year" field="car_model_year" dataType="number" [sortable]="true" title="car_model_year"></igx-column>
  <igx-column header="car_model_vin" field="car_model_vin" dataType="string" [sortable]="true" title="car_model_vin"></igx-column>
  <igx-column header="car_value" field="car_value" dataType="string" [sortable]="true" title="car_value"></igx-column>
  <igx-column header="country_code" field="country_code" dataType="string" [sortable]="true" title="country_code"></igx-column>
  <igx-column header="date_updated" field="date_updated" dataType="string" [sortable]="true" title="date_updated"></igx-column>
  <igx-column header="credit_card" field="credit_card" dataType="string" [sortable]="true" title="credit_card"></igx-column>
  <igx-column header="preferred_currency" field="preferred_currency" dataType="string" [sortable]="true" title="preferred_currency"></igx-column>
  <igx-column header="avatar_url" field="avatar_url" dataType="string" [sortable]="true" title="avatar_url"></igx-column>
</igx-grid>
